<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Hi <%= @user.name %>,</h1>
<p>Here are the best books for the week:</p>
<ul>
  <%= @books.each do |book| %>
    <li><%=  @book.title %></li>
  <% end %>
</ul>
<p>Thanks for joining and have a great day!</p>
</body>
</html>
